In [63]:
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [54]:
response = requests.get("https://air-quality-api.open-meteo.com/v1/air-quality?latitude=31.2945&longitude=50.9569&hourly=pm10&timezone=Europe%2FLondon")

In [57]:
data = response.json()["hourly"]
df = pd.DataFrame(data)

In [66]:
df["time"] = pd.to_datetime(df["time"])
df

                   time  pm10
0   2023-09-01 00:00:00  18.8
1   2023-09-01 01:00:00  16.9
2   2023-09-01 02:00:00  15.2
3   2023-09-01 03:00:00  13.7
4   2023-09-01 04:00:00  13.0
..                  ...   ...
115 2023-09-05 19:00:00   NaN
116 2023-09-05 20:00:00   NaN
117 2023-09-05 21:00:00   NaN
118 2023-09-05 22:00:00   NaN
119 2023-09-05 23:00:00   NaN

[120 rows x 2 columns]

In [70]:

# Get the current time
current_time = datetime.now().time()

# Convert the current time to a pandas Timestamp
current_time_timestamp = pd.Timestamp(datetime.combine(pd.Timestamp.now().date(), current_time))

# Find the closest row to the current time
closest_row = df.iloc[(df['time'] - current_time_timestamp).abs().idxmin()]

print("Closest row to current time:")
print(closest_row)

Closest row to current time:
time    2023-09-01 02:00:00
pm10                   15.2
Name: 2, dtype: object